**/*
!package.json
!package.nls*.json
!l10n/*.json
!README.md
!README.ja.md
!CHANGELOG.md
!LICENSE
!THIRD_PARTY_NOTICES.md
!language-configuration.json
!syntaxes/**
!snippets/**
!out/*.js
!docs/QUICKSTART.md
!docs/CHEATSHEET.md
!docs/CHEATSHEET.ja.md
!docs/QUICKSTART.ja.md
!examples/*.fumen
!media/compiled/**/*.js
!media/preview.css
!media/icon.png
!media/vendor/**
