**/*
!package.json
!package.nls*.json
!resources/l10n/*.json
!README.md
!docs/README.ja.md
!CHANGELOG.md
!LICENSE
!resources/language/*.json
!build/extension/*.js
!docs/QUICKSTART.md
!docs/CHEATSHEET.md
!docs/CHEATSHEET.ja.md
!docs/QUICKSTART.ja.md
!docs/examples/*.fumen
!build/browser/print.js
!build/browser/localization.js
!build/browser/preview-protocol.js
!build/browser/webview/main.js
!build/browser/webview/score.js
!build/browser/webview/render-queue.js
!build/browser/webview/layout-safety.js
!build/browser/webview/measurement-budget.js
!resources/webview/preview.css
!resources/webview/print.css
!resources/images/icon.png
!resources/images/editor-preview.jpg
!resources/images/chord-display-modes.png
!resources/vendor/**
